body{
  margin: 0;
}

header{
  background: #a4dc9c;
}

.headerInner,.mainInner{
  max-width: 1050px;
  margin: auto;
  padding: px;
}
body{
  background-color: #e7e0cb;
}

.headerInner{
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer{
  background: #a4dc9c;
}

.footerInner{
  text-align: center;
  margin-top: 40px;
  padding: 20px;
}
h1{
  -webkit-text-fill-color: rgb(0, 0, 0);
}
h6{webkit-text-fill-color: aliceblue;
}
.container {
  width: 500px;
}

